.watchlist-page {
  background-color: #000; 
  color: #fff;
  min-height: 100vh;
  padding: 20px;
}

.empty-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.empty-center h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.empty-center p {
  font-size: 1.2rem;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 30px;
  justify-items: center;
}
